body{
    box-sizing: border-box;
}


/**
remover o justify content do body da home quando estiver para mobile
/

/* Removi os botões de dentro do input da pagina criarConta
Motivo: porque ele type number. input para número de telefone
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}


#Homespacoentredivs{
    justify-content: space-around;
}

@media screen and (max-width: 576px){
    #Homespacoentredivs{
        justify-content: space-between;
    }
}